@model  slnSIGCArchitechWeb17.Areas.Registros.Models.EmpresaWebModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutSiggo.cshtml";
}
@Html.Hidden("myUrl", Url.Action("Index", "Cliente"))

@if (Model.NuevoRegistro)
{
    <h2>Nuevo Cliente</h2>
}
else
{
    <h2>Editar Cliente : @Model.IdEmpresa</h2>
} 

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.NuevoRegistro)
    @Html.HiddenFor(m => m.TipoEmpresaSiggo)
    @Html.ValidationSummary(true)
    <fieldset>
        <table class="tablaForm">
            <tr>
                <td>@Html.LabelFor(m => m.IdEmpresa)*</td>
                <td>
                    @if (Model.NuevoRegistro)
                    {
                        @Html.TextBoxFor(m => m.IdEmpresa, new { @Value = "?????", style = "width:80px;", disabled = "true" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.IdEmpresa, new { style = "width:80px;", disabled = "true" })                        
                    }
                    @Html.HiddenFor(m => m.IdEmpresa)
                    @Html.ValidationMessageFor(m => m.IdEmpresa)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RucEmpresa)*</td>
                <td>
                    @Html.TextBoxFor(m => m.RucEmpresa, new { style = "width:120px;", maxlength = 11 })
                    @Html.ValidationMessageFor(m => m.RucEmpresa)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.RazonSocial)*</td>
                <td>
                    @Html.TextBoxFor(m => m.RazonSocial, new { style = "width:450px;", maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.RazonSocial)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Direccion)</td>
                <td>@Html.TextBoxFor(m => m.Direccion, new { style = "width:450px;", maxlength = 50 })</td>
            </tr>
            
            <tr>
                <td>@Html.LabelFor(m => m.Telefono) </td>
                <td>@Html.TextBoxFor(m => m.Telefono, new { style = "width:150px;", maxlength = 10 })</td>            
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Correo)</td>
                <td>@Html.TextBoxFor(m => m.Correo, new { style = "width:250px;", maxlength = 200 })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Contacto)</td>
                <td>
                    @Html.TextBoxFor(m => m.Contacto, new { style = "width:350px;", maxlength = 200 })                    
                </td>                
            </tr>        
            <tr>
                <td>@Html.LabelFor(m => m.TipoEmpresa)*</td>
                <td>
                    @Html.DropDownListFor(m => m.TipoEmpresa, new SelectList(Model.lTipoEmpresa, "Codigo", "Descripcion", Model.TipoEmpresa), "(Seleccione)", new { style = "width:250px;" })
                    @Html.ValidationMessageFor(m => m.TipoEmpresa)
                </td>
            </tr> 
            <tr>
                <td>@Html.LabelFor(m => m.NotificacionDiasVencimiento)</td>
                <td>@Html.TextBoxFor(m => m.NotificacionDiasVencimiento, new { style = "width:50px;", maxlength = 2 })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ActividadNormalEspecifica)</td>
                <td>@Html.CheckBoxFor(m => m.ActividadNormalEspecifica)</td>
            </tr>
            @*<tr>
                <td>@Html.LabelFor(m => m.IdCliente)</td>
                <td>
                    @Html.DropDownListFor(m => m.IdCliente, new SelectList(Model.lEmpresaOrigen, "Codigo", "Descripcion"), "(Seleccione)", new { style = "width:420px;" })
                </td>
            </tr>*@
            <tr>
                <td>@Html.Label("Estado Registro")</td>
                <td>@Html.TextBoxFor(m => m.EstadoDescripcion, new { style = "width:150px;", disabled = "true" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Fecha Registro")</td>
                <td>@Html.TextBoxFor(m => m.FechaMaker, new { style = "width:80px;", disabled = "true" })</td>                 
            </tr>
            <tr>
                <td>@Html.Label("Hora Registro")</td>
                <td>@Html.TextBoxFor(m => m.HoraMaker, new { style = "width:80px;", disabled = "true" })</td>                
            </tr>
            <tr>
                <td>@Html.Label("Registrado Por")</td>
                <td>@Html.TextBoxFor(m => m.Maker, new { style = "width:80px;", disabled = "true" })</td> 
            </tr>
    </table>
    </fieldset>
    <br />
    <div>
        <input type="submit" value="Grabar" />
        <input type="button" value="Cancelar" onclick="return Cancelar();" />
    </div>
}

@if (ViewBag.Error != null)
{
    <br />
    <div id="Error">@ViewBag.Error</div>
}

<script type="text/javascript">
    function Cancelar() {
        var url = $("#myUrl").val();
        window.location.href = url;
    }
</script>