@model  slnSIGCArchitechWeb17.Areas.Procesos.Models.DeclaracionModel
@{
    ViewBag.Title = "Declaración";
    Layout = "~/Views/Shared/_LayoutSiggo.cshtml";
}

<h2>Declaraciones</h2>

@using (Html.BeginForm(null, null, FormMethod.Get, null))
{
    //TODO: Por completar accion nuevo
    @*<div id="newReg">
        @Html.ActionLink("Agregar Recurso", "Crear", "Declaracion", null, new { @id = "lnkCrearRecurso" })
    </div>*@

    <fieldset>
        <table class="tablaForm">
            <tr>                
                <td>@Html.Label("Contratista")</td>
                <td>@Html.DropDownList("Contratas", null, "(Todos)", new { style = "width:250px;" })</td>
                <td>@Html.Label("Cliente")</td>
                <td>@Html.DropDownList("Clientes", null, "(Todos)", new { style = "width:250px;" })</td>                
                <td>@Html.Label("Nro Orden")</td>
                <td><select id="NroOrden" name="NroOrden" style="width:150px;"> <option value="">(Todos)</option></select></td>
                <td>@Html.Label("Periodo Declaración")</td>
                <td>@Html.DropDownList("MesControl", ViewBag.Mes as SelectList, null, new { style = "width:100px;" })</td>
                <td>@Html.DropDownList("AnhoControl", ViewBag.Año as SelectList, null, new { style = "width:80px;" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Tipo Recurso")</td>
                <td>@Html.DropDownList("TipoRecurso", null, "(Todos)", new { style = "width:250px;" })</td>
                <td>@Html.Label("Estado", "Estado")</td>
                <td>@Html.DropDownList("EstadoRegistro", null, "(Todos)", new { style = "width:100px;" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Identificador")</td>
                <td>@Html.TextBox("IdRegistroBusq")</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Buscar" />
        <input type="button" value="Limpiar" />
    </fieldset>
    <br />
}
@if (ViewBag.Mensaje != null)
{
    <div id="Mensaje">@ViewBag.Mensaje</div>
    <br />
}
@if (ViewBag.Error != null)
{
    <div id="Error">@ViewBag.Error</div>
    <br />
}

@if (Model.lDeclaraciones != null)
{
    if (Model.lDeclaraciones.Count() > 0)
    {
        WebGrid wgRegistro = new WebGrid(Model.lDeclaraciones, selectionFieldName: "SelectedRow", rowsPerPage: 20);
        if (wgRegistro.SelectedIndex < 0)
        {
            wgRegistro.SelectedIndex = 0;
        }
        var gridColumnas = new List<WebGridColumn>();
        gridColumnas.Add(wgRegistro.Column("IdEmpresa", header: "IdCont.", format: (item) => item.GetSelectLink(item.IdEmpresa)));
        gridColumnas.Add(wgRegistro.Column("IdRegistro", header: "IdReg.", canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("NombreEmpresa", header: "Empresa", canSort: false, style: "csEmpresa"));
        gridColumnas.Add(wgRegistro.Column("IdRecurso", header: "IdRecur.", canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("NroReferenciaRecurso", header: "Nro.Refer.", canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("DescripcionRecurso", header: "Recurso", canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("EstadoTrama", header: "Estado", canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("Editar", header: "", format: (item) => @Ajax.ActionLink("Editar", "EditarRegistro", "Declaracion", new { area = "Procesos", IdEmpresa = item.IdEmpresa, IdRegistro = item.IdRegistro }, new AjaxOptions { HttpMethod = "Get" }, new { id = "Editar" }), canSort: false, style: ""));
        gridColumnas.Add(wgRegistro.Column("Eliminar", header: "", format: (item) => @Html.ActionLink("Eliminar", "Eliminar", "Declaracion", new { area = "Procesos", IdEmpresa = item.IdEmpresa, IdRegistro = item.IdRegistro }, new { id = "Eliminar", onclick = "return confirm('¿Esta seguro de Eliminar el Registro " + item.IdRegistro + " ?');" }), canSort: false, style: ""));

        @wgRegistro.GetHtml(
                    rowStyle: "webgrid-row-style",
                    selectedRowStyle: "webgrid-selected-row",
                    htmlAttributes: new { id = "MainTable" },

                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: wgRegistro.Columns(gridColumnas.ToArray())
                );

        if (wgRegistro.HasSelection)
        {
            Html.RenderAction("DetalleDocumentos", "Declaracion", new { area = "Procesos", IdEmpresaSel = wgRegistro.SelectedRow["IdEmpresa"], IdRegistroSel = wgRegistro.SelectedRow["IdRegistro"] });
        }
    }
    else
    {
        <div id="No">No existen registros</div>
    }
}

<script type="text/javascript">

    $(document).ready(function () {

        $("#Clientes").change(function () {
            ObtenerOrdenes();
        })
    });
    function ObtenerOrdenes() {
        url = "/Procesos/Declaracion/ObtenerOrdenes";
        $.ajax({
            url: url,
            type: 'POST',
            async: true,
            data: {
                IdEmpresaSel: $('#Clientes').val().trim()
            },
            success: function (data) {
                try {
                    var obj = JSON.parse(data);
                    var htmlOpOrdenes = '<option value="">(Todos)</option>';
                    if (data != "-1" && data.length > 0) {
                        for (var i = 0; i < obj.length; i++) {
                            htmlOpOrdenes = htmlOpOrdenes + '<option value="' + obj[i].Codigo + '">' + obj[i].Descripcion + '</option>';
                        }
                        $('#NroOrden').empty();
                        $("#NroOrden").append(htmlOpOrdenes);
                    }
                    else {
                        alert("Ocurrió un problema al obtener las ORDENES");
                    }
                }
                catch (e) {
                    //alert(e);
                }
            },
            error: function (xr, msg, e) {
            }
        });
    }


    $('#IdEmpresaSel').change(function () {
        ctrl = document.getElementById("newReg");
        var textSelected = $('#IdEmpresaSel Option:Selected').text();
        $('#NombreEmpresaSel').val(textSelected);
        //alert($('#NombreEmpresaSel').val());
        if ($(this).val() == "") {
            ctrl.style.visibility = "hidden";
        } else {
            ctrl.style.visibility = "visible";
        }
    });

    $('#lnkCrearRecurso').click(function () {
        var IdEmpresaSel = $('#IdEmpresaSel').val();
        var NombreEmpresaSel = $('#NombreEmpresaSel').val();
        var url2 = $(this).attr('href') + '?IdEmpresa=' + IdEmpresaSel + '&NombreEmpresaSel=' + NombreEmpresaSel;
        $('#lnkCrearRecurso').attr('href', url2);
    });
</script>
