@model slnSIGCArchitechWeb17.Areas.Mantenimientos.Models.DatoWebModel
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutSiggo.cshtml";
}
@Html.Hidden("myUrl", Url.Action("Index", "Dato"))

@if (Model.NuevoRegistro)
{
    <h2>Nuevo Dato</h2>
}
else
{
    <h2>Editar Dato : @Model.IdDato</h2>
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.NuevoRegistro)
    @Html.ValidationSummary(true)

    <fieldset>
        <table class="tablaForm">
            <tr>
                <td>@Html.LabelFor(m => m.IdDato)*</td>
                <td>
                    @if (Model.NuevoRegistro)
                    {
                        @Html.TextBoxFor(m => m.IdDato, new { @Value = "?????", style = "width:80px;", disabled = "true" })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.IdDato, new { style = "width:80px;", disabled = "true" })
                    }
                    @Html.HiddenFor(m => m.IdDato)
                    @Html.ValidationMessageFor(m => m.IdDato)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Descripcion)*</td>
                <td>
                    @Html.TextBoxFor(m => m.Descripcion, new { style = "width:450px;", maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.Descripcion)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Alias)*</td>
                <td>
                    @Html.TextBoxFor(m => m.Alias, new { style = "width:150px;", maxlength = 10 })
                    @Html.ValidationMessageFor(m => m.Alias)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Categoria) </td>
                <td>
                    @Html.DropDownListFor(m => m.Categoria, new SelectList(Model.lCategoria, "Codigo", "Descripcion"), "(Seleccione)", new { style = "width:150px;" })
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Fecha Registro")</td>
                <td>@Html.TextBoxFor(m => m.FechaMaker, new { style = "width:80px;", disabled = "true" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Hora Registro")</td>
                <td>@Html.TextBoxFor(m => m.HoraMaker, new { style = "width:80px;", disabled = "true" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Registrado Por")</td>
                <td>@Html.TextBoxFor(m => m.Maker, new { style = "width:80px;", disabled = "true" })</td>
            </tr>
        </table>
    </fieldset>
    <br />
    <div>
        <input type="submit" value="Grabar" />
        <input type="button" value="Cancelar" onclick="return Cancelar();" />
    </div>
}

@if (ViewBag.Error != null)
{
    <br />
    <div id="Error">@ViewBag.Error</div>
}

<script type="text/javascript">
    function Cancelar() {
        var url = $("#myUrl").val();
        window.location.href = url;
    }
</script>
