@model slnSIGCArchitechWeb17.Areas.Registros.Models.RecursoWebModel
@{
    ViewBag.Title = "SisGpdWeb - Administración de Vehículos";
    Layout = "~/Views/Shared/_LayoutSiggo.cshtml";
}

<h2>Administración de Vehículos</h2>

@using (Html.BeginForm())
{
    <div class="Titulo">
        Empresa: @Model.NombreEmpresaSel
    </div>
    <br />
    <div id="newUser" style="@Html.Raw(String.IsNullOrEmpty(Model.IdEmpresaSel) ? "visibility:hidden" : "")">
        @Html.ActionLink("Crear Vehículo", "EditarVehiculo", "Contratista", null, new { @id = "lnkVehiculo" }) |
        @Html.ActionLink("Volver", "Index", "Contratista")
    </div>
    <fieldset>
        <table class="tablaForm">
            <tr>
                <td>@Html.Label("Id.")</td>
                <td>@Html.TextBox("IdVehiculo") </td>
                <td>@Html.Label("Nombre")</td>
                <td>@Html.TextBox("NombreVehiculo")</td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Buscar" />
        <input type="button" value="Limpiar" />
    </fieldset>
    <br />
    <div>@Html.HiddenFor(m => m.IdEmpresaSel)</div>
    <div>@Html.HiddenFor(m => m.NombreEmpresaSel)</div>
}
@if (Model.lRegistrosRecursos != null)
{
    if (Model.lRegistrosRecursos.Count() > 0)
    {
        WebGrid wgRecursos = new WebGrid(Model.lRegistrosRecursos, selectionFieldName: "SelectedRow", rowsPerPage: 20);
        if (wgRecursos.SelectedIndex < 0)
        {
            wgRecursos.SelectedIndex = 0;
        }
        var gridColumnas = new List<WebGridColumn>();
        gridColumnas.Add(wgRecursos.Column("IdRecurso", header: "Id", format: (item) => item.GetSelectLink(item.IdRecurso)));
        gridColumnas.Add(wgRecursos.Column("NumeroReferencia", header: "Nro.Referencia", canSort: false, style: ""));
        gridColumnas.Add(wgRecursos.Column("Descripcion4", header: "Nombre/Denominación", canSort: false, style: ""));
        gridColumnas.Add(wgRecursos.Column("DescripcionTipoRecurso", header: "Tipo Recurso", canSort: false, style: ""));

        gridColumnas.Add(wgRecursos.Column("Estado", header: "Estado", canSort: false, style: ""));
        gridColumnas.Add(wgRecursos.Column("FechaMaker", header: "F.Registro", canSort: false, style: ""));
        gridColumnas.Add(wgRecursos.Column("Editar", header: "", format: (item) => @Ajax.ActionLink("Modificar", "EditarVehiculo", "Contratista", new { Id = item.IdRecurso, IdEmpresaSel = item.IdEmpresa, NombreEmpresaSel = item.NombreEmpresa }, new AjaxOptions { HttpMethod = "Get" }, new { id = "Editar" }), canSort: false, style: ""));
        gridColumnas.Add(wgRecursos.Column("Eliminar", header: "", format: (item) => @Html.ActionLink("Eliminar", "EliminarVehiculo", new { Id = item.IdRecurso, IdEmpresaSel = item.IdEmpresa, NombreEmpresaSel = item.NombreEmpresa }, new { id = "Eliminar", onclick = "return confirm('¿Esta seguro de Eliminar el Vehiculo " + item.IdRecurso + " ?');" }), canSort: false, style: ""));

        @wgRecursos.GetHtml(
                    rowStyle: "webgrid-row-style",
                    selectedRowStyle: "webgrid-selected-row",
                    htmlAttributes: new { id = "MainTable" },

                    mode: WebGridPagerModes.All,
                    firstText: "<< Primera",
                    previousText: "< Anterior",
                    nextText: "Siguiente >",
                    lastText: "Última >>",
                    columns: wgRecursos.Columns(gridColumnas.ToArray())
                );

        if (wgRecursos.HasSelection)
        {
            Html.RenderAction("RequisitosVehiculo", "Contratista", new { area = "Registros", IdEmpresaSel = Model.IdEmpresaSel, sIdRecurso = wgRecursos.SelectedRow["IdRecurso"] });
        }
    }
    else
    {
        <div id="No">No existen registros</div>
    }
}
@if (ViewBag.Mensaje != null)
{
    <br />
    <div id="Mensaje">@ViewBag.Mensaje</div>
}
@if (ViewBag.Error != null)
{
    <br />
    <div id="Error">@ViewBag.Error</div>
}

<script type="text/javascript">

    $('#lnkVehiculo').click(function () {
        var IdEmpresaSel = $('#IdEmpresaSel').val();
        var NombreEmpresaSel = $('#NombreEmpresaSel').val();
        var url2 = $(this).attr('href') + '?IdEmpresaSel=' + IdEmpresaSel + '&NombreEmpresaSel=' + NombreEmpresaSel;
        $('#lnkVehiculo').attr('href', url2);
    });
</script>